html {
	width: 100%;
	height: 100%;
	/* zoom: 3;
	-moz-transform: scale(3); */
	-moz-transform-origin: 0 0;
}
body {
	font: 12px, verdana, sans-serif;
	background-color: #000;
	color: #fff;
	overflow: hidden;
	margin: 0;
}
img.gfx {
	display: none;
}
div.content {
	width: 100%;
	text-align: center;
}
div.logo {
	text-align: center;
	clear: both;
	width: 100%;
}
div.canvas-wrapper {
	position: relative;
}
/*div.canvas-wrapper:after {
	content: "";
	background: url(../images/interlace.gif) top left repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}*/
input.save-game {
	position: absolute;
	left: -1000px;
	top: 0;
	display: none;
}
canvas {
	background-color: #000;
	background-image: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	image-rendering: pixelated;
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}
canvas[data-game-status="loading"] {
	background: #000 url(../images/loading.png) center center no-repeat;
	background-size: 100%;
}

/* DEBUG */
section.info {
	clear: both;
	width: 100%;
	float: left;
	margin-top: 20px;
	display: none;
}
.debug-input label {
	float: left;
	width: 30px;
	padding: 3px;
	text-align: right;
}
.debug-input input[type=text] {
	font: 12px, verdana, sans-serif;
	float: left;
	color: #fff;
	background-color: #000;
	border: solid 1px #444;
	width: 30px;
}
.debug-input input[type=button] {
	font: 12px"Bookman Old Style", verdana, sans-serif;
	color: #fff;
	background-color: #444;
	border: solid 1px #888;
	float: left;
	line-height: 17px;
	margin-left: 5px;
}