body {
	font: 12px"Bookman Old Style", verdana, sans-serif;
	background-color: #000;
	color: #fff;
	overflow: hidden;
	margin: 0;
}
img.gfx {
	display: none;
}
div.content {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
div.logo {
	text-align: center;
	clear: both;
	width: 100%;
}
section.info {
	clear: both;
	width: 100%;
	float: left;
	margin-top: 20px;
	display: none;
}
canvas {
	background-color: #000;
	background-image: none;
	/*width: 960px;
	height: 600px;*/
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
canvas[data-game-status="loading"] {
	background: #000 url(../images/loading.png) center center no-repeat;
	background-size: 100%;
}