body {
	font: 11px verdana, sans-serif;
	background-color: #000;
	color: #fff;
	overflow: hidden;
}
img.gfx {
	display: none;
}
div.content {
	width: 800px;
	margin: 0 auto;
}
div.logo {
	text-align: center;
}
div.behemoth {
	text-align: center;
}
section.info {
	/*float: left;*/
	/*width: 400px;*/
}
section.debug {
/*	float: left;
	height: 200px;
	width: 400px;*/
	overflow-y: auto;
}
canvas {
	background: url(../images/loading.png) top left no-repeat;
	border: 2px solid #444;
	clear: both;
	float: left;
	padding: 2px;
	text-align: center;
}
canvas.active {
	background-color: #000;
	background-image: none;
}